<div class="page-header-setting">
<h2 class="h2-title-setting">{{ "bfos.settings.edit.title"|trans }}</h2>
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a class="btn js_go_to_list" href="{{ path('bfos_settings', {'nojs':1}) }}">
                <i class="icon-arrow-left"></i> {{ "bfos.settings.link.go_to_list.label"|trans }}
            </a>
        </div>
    </div>
</div>
<h3 class="mb-20">
    {% if (entity.label is not empty) %}
    {{ entity.label }} ({{ entity.name }})
{% else %}
    {{ entity.name }}
{% endif %}
</h3>
<p>
    {% if entity.help is not empty %}
<div class="row">
    <div class="span7">
        {{ entity.help|raw }}
    </div>
</div>
{% endif %}
</p>
<p>
<form class="form-horizontal js_update_form" action="{{ path('bfos_settings_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    {{ form_widget(edit_form)}}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary js_update">{{ "bfos.settings.button.update.label"|trans }}</button>
    </div>
</form>
</p>

<style type="text/css">
    #bfos_settingsmanagementbundle_setting_type_text_template,
    #bfos_settingsmanagementbundle_setting_type_html_template {
        /*width: 620px;*/
        max-width: 560px;
        min-width: 500px;
        height: 180px;
        max-height: 700px;
        min-height: 20px;
    }
    .page-header-setting h2 {
        float: left;
    }
</style>
{% include 'BFOSSettingsManagementBundle:Setting:edit_' ~ entity.type ~ '.html.twig' with {'value':entity.value} %}