{% for entity in entities %}
    <tr>
        <td><a class="js_show" href="{{ path('bfos_settings_show', { 'id': entity.id }) }}">
            {% if entity.label is not empty %}
                {{ entity.label }}
            {% else %}
                {{ entity.name }}
            {% endif %}
        </a>
            {% if is_granted(dev_role) %}
                <br>
                <small>{{ entity.name }}</small>
            {% endif %}
        </td>
        <td>
            {% include 'BFOSSettingsManagementBundle:Setting:list_' ~ entity.type ~ '.html.twig' with {'value':entity.value} %}
        </td>
        <td>{{ entity.type }}</td>
        <td>
            {% for role in entity.grantededitingfor %}
                {{ role }} <br />
            {%  endfor %}
        </td>
        <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif%}</td>
        <td>
            {% if is_granted(dev_role) %}
            <a href="{{ url('bfos_settings_dev_edit', { 'id': entity.id }) }}" class="js_dev_edit">
                <i class="icon-cog"></i> {{ "bfos.settings.link.dev_edit.label"|trans }}
            </a>
            {% endif %}
            <a href="{{ url('bfos_settings_show', { 'id': entity.id }) }}" class="js_show">
                <i class="icon-info-sign"></i> {{ "bfos.settings.link.show.label"|trans }}
            </a>
            <a href="{{ url('bfos_settings_edit', { 'id': entity.id }) }}" class="js_edit">
                <i class="icon-edit"></i> {{ "bfos.settings.link.edit.label"|trans }}
            </a>
        </td>
    </tr>
{% endfor %}

