
<h1 class="titles primary">{{ "bfos.settings.new.title"|trans }}</h1>

<form class="form-horizontal js_create_form" action="{{ path('bfos_settings_create') }}" method="post" {{ form_enctype(form) }}>

    <div class="name_row">
        {{ form_errors(form.name) }}
        <label for="{{ form.name.vars.id }}"> {{ "bfos.settings.form.name.label"|trans }}</label>
        {{ form_widget(form.name) }}
    </div>

    <div class="type_row">
        {{ form_errors(form.type) }}
        <label for="{{ form.type.vars.id }}"> {{ "bfos.settings.form.type.label"|trans }}</label>
        {{ form_widget(form.type) }}
    </div>

    <div class="granted_editing_for_row">
        {{ form_errors(form.granted_editing_for) }}
        <label for="{{ form.granted_editing_for.vars.id }}"> {{ "bfos.settings.form.granted_editing_for.label"|trans }}</label>
        {{ form_widget(form.granted_editing_for) }}
    </div>

    <div class="value_row">
        {{ form_errors(form.value) }}
        <label for="{{ form.value.vars.id }}"> {{ "bfos.settings.form.value.label"|trans }}</label>
        {{ form_widget(form.value) }}
    </div>
    {{ form_rest(form)}}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary js_create">{{ "bfos.settings.button.save.label"|trans }}</button>
        <button type="submit" name="_save_and_add" class="btn btn-primary js_create">{{ "bfos.settings.button.save_and_add.label"|trans }}</button>
    </div>
</form>

<ul class="nav nav-list">
    <li>
        <a class="js_go_to_list" href="{{ path('bfos_settings') }}">
            <i class="icon-arrow-left"></i> {{ "bfos.settings.link.go_to_list.label"|trans }}
        </a>
    </li>
</ul>

<style type="text/css">
    #bfos_settingsmanagementbundle_setting_type_value {
        width: 620px;
        max-width: 1000px;
        height: 180px;
        max-height: 700px;
    }
    #bfos_settingsmanagementbundle_setting_type_name {
        width: 500px;
    }
</style>