<div class="page-header-setting">
<h2 class="h2-title-setting">{{ "bfos.settings.edit.title"|trans }}</h2>
    <div class="btn-header">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn js_go_to_list" href="{{ path('bfos_settings', {'nojs':1}) }}">
                    <i class="icon-arrow-left"></i> {{ "bfos.settings.link.go_to_list.label"|trans }}
                </a>
            </div>
            <div class="btn-group">
                <form action="{{ path('bfos_settings_dev_delete', { 'id': entity.id }) }}" method="post" class="js_delete_form">
                    {{ form_widget(delete_form) }}
                    <button type="submit" class="btn btn-danger js_delete"><i class="icon-trash icon-white"></i> {{ "bfos.settings.button.delete.label"|trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<form class="form-horizontal js_update_form" action="{{ path('bfos_settings_dev_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    {{ form_rest(edit_form)}}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary js_dev_update">{{ "bfos.settings.button.update.label"|trans }}</button>
    </div>
</form>

<style type="text/css">
    #bfos_settingsmanagementbundle_setting_type_text_template,
    #bfos_settingsmanagementbundle_setting_type_html_template {
        /*width: 620px;*/
        max-width: 560px;
        min-width: 500px;
        height: 180px;
        max-height: 700px;
        min-height: 20px;
    }
    .btn-header{
        width: 100%;
        float: left;
    }
    .btn-toolbar{
        margin-top: -29px;
        float: right;
    }
    .btn-group{
        float: left;
    }
</style>
<script type="text/javascript">
    require(['jquery', 'ckeditor'], function($){
        jQuery(document).ready(function($){

            var id = 'bfos_settings_setting_configuration_form_type_help';

            $('form.js_update_form').bind('prePost', function(e){
                $('#'+id).val(window.CKEDITOR.instances[id].getData());
            });

            if (window.CKEDITOR.instances[id])
            {
                delete window.CKEDITOR.instances[id];
            }
            CKEDITOR.replace(id, {
                toolbar : 'Basic'
            });
            window.CKEDITOR.instances[id].on('instanceReady', function (evt)
            {
                var editor = evt.editor;
                // http://cksource.com/forums/viewtopic.php?p=48574#p48574
                if (window.CKEDITOR.env.webkit && parseInt(editor.config.width) < 310)
                {
                    var iframe = document.getElementById('cke_contents_' + editor.name).firstChild;
                    iframe.style.display = 'none';
                    iframe.style.display = 'block';
                }
            });
        });
    });
</script>
